{% extends "index.html" %}

{% block title %}Shoppings{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col p-3">
      <h1 class="h2 text-muted">Facturacion</h1>
    </div>
    <div class="col p-3">
      <button type="button" class="btn btn-light">Dashboard</button>
      <button type="button" class="btn btn-light">Impresora</button>

    </div>
    <div class="col p-3">
      <a href="/shoppings/new" class="btn btn-light">Nueva factura</a>
    </div>
  </div>

  <div class="d-flex">
    <div class="p-3">
      <p class="m-0">Total de Facturas</p>
      <p class="m-0 text-center">{{count_items}}</p>
    </div>
    <div class="p-3">
      <p>Total Seleccionado</p>
      <p class="m-0 text-center">{{0}}</p>
    </div>
    <div class="p-3">
      <p>Valor Total de Cartera</p>
      <p class="m-0 text-center"> $ {{total}}</p>
    </div>
  </div>


  <div>
    <div class="container mt-2">
      <ol class="list-group">
          <div class="card mb-3">
            <div class="card-body d-flex justify-content-between">
              <input type="checkbox" id="check_9" onClick="" value="off">
              <div class="px-1">
                <p class="h5 text-uppercase">aceros y perfiles hr</p>
                <p class="h6 text-uppercase">n. rm8978</p>
              </div>
              <input type="text" class="m-0 p-0" value="$ 343.65" name="email" disabled>
              <div class="btn-group">
                <button type="button" class="btn">Apple</button>
                <button type="button" class="btn">Samsung</button>
                <button type="button" class="btn">Sony</button>
              </div> 
            </div>
          </div>
        </li>
    </div>
          
  </div>


{% endblock %}

{% block script_js %}
  <script>
    let isActive = false
    let total = 0

    const selected = e => {
      const inputPay = document.getElementById('inpTotal')
      const input = document.getElementById(`value${e}`)
      isActive = !isActive

      if(isActive){
        total = input.value
        input.removeAttribute("disabled")
      }else{
        input.setAttribute("disabled","off")
        total = 0
      }

      inpTotal.value = total

    }

  </script>
{% endblock script_js %}