{% extends "index.html" %}

{% block title %}Shoppings{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col p-3">
      <h1 class="h2 text-muted">Facturacion</h1>
    </div>
    <div class="col p-3">
      <button type="button" class="btn btn-light">Dashboard</button>
      <button type="button" class="btn btn-light">Impresora</button>

    </div>
    <div class="col p-3">
      <a href="/shoppings/new" class="btn btn-light">Nueva factura</a>
    </div>
  </div>

  <div class="d-flex">
    <div class="p-3">
      <p class="m-0">Total de Facturas</p>
      <p class="m-0 text-center">{{count_items}}</p>
    </div>
    <div class="p-3">
      <p>Total Seleccionado</p>
      <p class="m-0 text-center">{{0}}</p>
    </div>
    <div class="p-3">
      <p>Valor Total de Cartera</p>
      <p class="m-0 text-center"> $ {{total}}</p>
    </div>
  </div>


  <div>
    <div class="container mt-2">
      <ul class="list-group list-group-flush">

        {% for item in items  %}
        <li class="list-group-item" id="shopping_{{item.id}}">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              {{item.number}}
            </label>
          </div>
          
          <div class="text-uppercase">
            {{item.provider.name}}
          </div>
          <div>
            {{item.createdAt}}
          </div>
          <div>
            $ {{item.value}}
          </div>
        </li>

        {% endfor %}
      </ul> 
    </div>
          
  </div>


{% endblock %}  

{% block script_js %}
  <script>
    let isActive = false
    let total = 0

    const selected = e => {
      const inputPay = document.getElementById('inpTotal')
      const input = document.getElementById(`value${e}`)
      isActive = !isActive

      if(isActive){
        total = input.value
        input.removeAttribute("disabled")
      }else{
        input.setAttribute("disabled","off")
        total = 0
      }

      inpTotal.value = total

    }

  </script>
{% endblock script_js %}