{% extends "index.html" %}

{% block title %}New invoice{% endblock %}

{% block content %}
<div class="container invoice">
  <div id="alert" role="alert"></div>

  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
    Add proveedor
  </button>

  <div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Empresa:</label>
      <input type="text" class="form-control form-control-sm" id="searchCompany" autocomplete="off">
      <ul class="list-group" id="companies">
      </ul>
    </div>
  
  </div>

</div>
{% endblock %}

{% block content_cavas %}
<div class="offcanvas offcanvas-end" id="demo">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title">Nuevo Proveedor</h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">

        <form id="form" method="POST">
          <div class="mb-3 mt-3">
            <label for="empresa" class="form-label">Empresa:</label>
            <input type="text" class="form-control" id="company" placeholder="Enter email" name="name">
          </div>
          <div class="mb-3">
            <label for="nit" class="form-label">Nit:</label>
            <input type="text" class="form-control" id="nit" placeholder="Enter password" name="nit">
          </div>
          <div class="mb-3 mt-3">
            <label for="direccion" class="form-label">Direccion:</label>
            <input type="text" class="form-control" id="address" placeholder="Enter email" name="address">
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">Ciudad:</label>
            <input type="text" class="form-control" id="city" placeholder="Enter password" name="city">
          </div>
          <div class="mb-3">
            <label for="sellemar" class="form-label">Vendedor:</label>
            <input type="text" class="form-control" id="sellerman" placeholder="Enter password" name="sellerman">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Telefonos de Contacto:</label>
            <div class="row">
              <div class="col">
                <input type="number" class="form-control" placeholder="Enter email" name="phone">
              </div>
              <div class="col">
                <input type="number" class="form-control" placeholder="Enter password" name="num_mobil">
              </div>
            </div>
          </div>

          <button type="submit" id="formBtn">Envíe su mensaje</button>
        </form>  
    </div>
</div>
  

{% endblock content_cavas %}

{% block content_modal %}
<div class="container mt-3">
    <h3>Large Modal Example</h3>
    <p>Click on the button to open the modal.</p>
    

  </div>
  
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="container mt-3">
                <h2>Striped Rows</h2>
                <p>The .table-striped class adds zebra-stripes to a table:</p>            
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Referencia</th>
                      <th>
                        Descripcion
                      </th>
                      <th>Cantidad</th>
                      <th>Precion Unitario</th>
                      <th>Total</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in items %}
                    <form id="form_{{item.id}}">
                      <tr>
                        <td>{{item.id}}</td>
                        <td >
                          <input type="text" name="name" class="text-uppercase" value="{{item.name}}">
                        </td>
                        <td>
                            <input type="number" value="0" name="quantity" onchange="changeTotal()">
                        </td>
                        <td>
                            <input type="number" value="0" name="price" onchange="changeTotal()">
                        </td>
                        <td id="total_{{item.id}}">
                          0,0
                        </td>
                        <td>
                          <button type="button" class="btn" name="btn" onclick="addItemOrder({{item.id}})">
                            Agregar
                          </button>
                        </td>
                      </tr>
                    </form>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
</div>
  
{% endblock content_modal %}

{% block script_js %}
<script >
  const listCompanies = document.getElementById('companies')
  const searchCompany = document.getElementById('searchCompany')
  const formBtn = document.getElementById('formBtn')
  const companies = []

  searchCompany.addEventListener('input', ()=>{
    const resultCompanies = filterCompany(searchCompany.name)

    if(searchCompany.value == ''){
      listCompanies.innerHTML = ``
    }else{
      listCompanies.innerHTML = ``

      resultCompanies.map(el => {
        addCompanyToList(el)
      })
    }
  })

  const filterCompany = (name) =>{
    let resCompany = companies.filter(company => company.name.toLowerCase().includes(name))
    return resCompany
  }

  addCompanyToList = obj =>{
    const li = document.createElement('li')
    li.classList.add("list-group-item")

    li.innerHTML = `
      <li id="${obj.id}">
        ${obj.name}
      </li>
    `

    listCompanies.appendChild(li)
  }


  const getCompanies = ()=>{
    fetch('/api/providers/all', {
      method: "GET",
      headers: {"Content-type": "application/json;charset=UTF-8"}
    })
    .then(res => res.json())
    .then(response => {
      console.log(response)
      response.forEach(el =>{
        let company = {
          id:el.id, name:el.name
        }

        companies.push(company)
      })
    })
    .catch(err => console.log(err));
  }

  getCompanies()

  // formulario para crear un nuevo proveedor

  formBtn.addEventListener('click', e=> {
    e.preventDefault()
    const form = document.getElementById('form')
    
    let newProvider = {
      name: form.name.value,
      nit: form.nit.value, 
      address: form.address.value,
      city: form.city.value,
      sellerman: form.sellerman.value,
      phone: form.phone.value,
      num_mobil: form.num_mobil.value
    }
    console.log(newProvider)

    
    fetch('/api/providers/create', {
      method: "POST",
      body: JSON.stringify(newProvider),
      headers: {"Content-type": "application/json; charset=UTF-8"}
    })
    .then(response => {
      if(!response.ok){
        throw new Error('something out bad')
      }

      return response.json()
    }) 
    .then(res => {
      const alert = document.getElementById('alert')
      alert.classList.add("alert","alert-warning","alert-dismissible","fade.show")
    
      alert.innerHTML = `
        <strong>${res.message}!</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      `

      getCompanies()
    })
    .catch(err => console.log(err))

  })

</script>

{% endblock script_js %}

