{% extends "index.html" %}

{% block title %}New invoice{% endblock %}

{% block content %}
    <a href="/providers/new">new proveedor</a>

    <div>
        <input type="search" placeholder="Find product..." id="search">

        <table border="1">
            <tr>
              <th>Item</th>
              <th>Referencia</th>
              <th>Description</th>
              <th>Cant</th>
              <th>V. Unit</th>
              <th>Total</th>
              <th>action</th>
            </tr>
            <tbody id="table-inventory">
            </tbody>
        </table>
    
    </div>

    
      <table>
        <tr>
          <td>Total Bruto</td>
          <td>153.883</td>

        </tr>
        <tr>
            <td>Iva</td>
            <td>29.237</td>
        </tr>
        <tr>
            <td>Total a Pagar</td>
            <td>$183.120</td>
        </tr>
    </table>

   
    <form action="/shoppings/new" method="POST">
        <label>Empresa: </label>
        
        <select name="provider" id="cars">
            {% for prov in providers %}
                <option value="0">seleccione empresa</option>
                <option value="{{prov.id}}">{{prov.name}}</option>
            {% endfor %}
        </select>
        <label>factura: </label>
        <input type="text" name="number" placeholder="" >
        <label>facturacion: </label>
        <input type="date" name="createdAt" placeholder="" >
        <label>vencimiento: </label>
        <input type="date" name="expirationAt" placeholder="" >

        
        <input type="submit" value="Guardar" />
    </form>

{% endblock %}

{% block script_js %}
<script>
   
    const search = document.getElementById('search')
    const tableInventory = document.getElementById('table-inventory')
    const itemsData = {{items|tojson}}

    getInventory = (list)=>{
        var idx = 1
        list.forEach(el => {
            const tr = document.createElement('tr')

            tr.innerHTML = `
            <tr>
                <td>${idx}</td>
                <td>${el.name}</td>
                <td>${el.code}</td>
                <td>${el.stock}</td>
                <td>${el.cost}</td>
                <td>0.0</td>
                <td>
                    <button type='button'>agregar</button>
                </td>
            </tr>
            `
            tableInventory.appendChild(tr)
            idx += 1
        })
    }
    
    
    search.addEventListener("input", (e)=>{
        var value = e.target.value.toLowerCase()

        if(value.trim() === ''){

        }else{
            list = itemsData.filter(el => el.name.toLowerCase().indexOf(value) > -1)       
        }
        getInventory(list)
    })

    getInventory(itemsData)

</script>

{% endblock script_js %}

